.menu {
    display: flex;
    position: fixed;
    max-width: 320px;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transition: visibility .7s, opacity 0.1s linear;
}

@media (min-width: 550px) {
    .menu {
        max-width: 1279px;
        width: 520px;
        right: 0;
    }
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

.menu_opened {
    visibility: visible;
    opacity: 1;
}

.menu__popup {
    max-width: 320px;
    width: 100%;
    height: 100%;
    background-color: #202020;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (min-width: 550px) {
    .menu__popup {
        max-width: 520px;
    }
}

.menu__button {
    background-image: url('../../images/btnclose.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #202020;
    background-size: 22px 22px;
    margin: 0;
    width: 22px;
    height: 22px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 1s ease;
    position: absolute;
    top: 13.44px;
    right: 13.44px;
}

.menu__button:hover {
    opacity: 0.8;
}

.menu__popup-content {
    padding: 99.44px 10px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

@media (min-width: 767px) {
    .menu__popup-content {
        padding: 105.4px 90px 92px;
    }
}

.menu__popup-list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 24px;
    list-style: none;
}

@media (min-width: 767px) {
    .menu__popup-list {
        gap: 28px;
    }
}

.menu__popup-item {
    text-align: center;
}

.menu__popup-link {
    text-decoration: none;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    transition: opacity 1s ease; 
    cursor: pointer;
}

.menu__popup-link:hover {
    opacity: 0.7;
 }

.menu__popup-link-line {
    border-bottom: 2px solid #FFF;
}

.menu__popup-footer {
    margin: 0 auto;
    max-width: 100px;
    width: 100%;
    padding: 444px 0 0;
    cursor: pointer;
    transition: opacity 1s ease;
    }
    
    .menu__popup-footer:hover {
    opacity: 0.7;
    }

.menu__popup-account {
    text-decoration: none;
    color: #FFF;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    transition: opacity 1s ease; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__popup-account:hover {
    opacity: 0.7;
 }

.menu__popup-btn {
    background-image: url('../../images/icon__account.svg');
    background-color: #313131;
    background-size: 10px 10px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
}