.searchform {
    margin: 70px 14px 0;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
    padding-bottom: 31px;
}

@media (min-width: 767px) {
    .searchform {
        margin: 70px 30px 0;
        padding-bottom: 27px;
    }
}

@media (min-width: 1279px) {
    .searchform {
        margin: 70px 70px 0;
    }
}

.searchform__form {
    position: relative;
    border: 1px solid #AAAAAA;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    min-height: 56px;
    padding-left: 6px;
    margin-bottom: 30px;
}

@media (min-width: 767px) {
    .searchform__form {
       min-height: 72px;
       margin-bottom: 27px;
    }
}

.searchform__input {
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    background-color: #202020;
    border: none;
    outline: none;
}

@media (min-width: 767px) {
    .searchform__input {
       font-size: 18px;
       line-height: 20px;
    }
}

.searchform__button {
    background-color: #4285F4;
    border-radius: 5px;
    border: none;
    color: #FFF;
    outline: none;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin: 6px 6px 0 6px;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 1s ease; 
    cursor: pointer;
    width: 80px;
    height: 44px;
}

.searchform__button:hover {
    opacity: 0.8;
 }

 @media (min-width: 767px) {
    .searchform__button {
       width: 100px;
       height: 52px;
       margin: 10px 10px 0 10px;
    }
}