.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px 30px 30px;
}

@media (min-width: 767px) {
    .form {
        padding: 232px 186px;
    }
}

@media (min-width: 1279px) {
    .form {
        padding: 70px 442px;
    }
}

.form__links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 767px) {
    .form__links {
        padding: 0;
        justify-content: flex-start;
    }
}

.form__logo {
    width: 38px;
    height: 38px;
    transition: opacity 1s ease; 
    cursor: pointer;
}

.form__logo:hover {
    opacity: 0.7;
 }


.form__title {
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding-top: 50px;
}

@media (min-width: 767px) {
    .form__title {
        text-align: left;
        width: 100%;
    }
}

.form__conteiner {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 767px) {
    .form__conteiner {
        padding-top: 40px;
    }
}

.form__item {
    display: flex;
    flex-direction: column;
}

.form__label {
    color: #8B8B8B;
    font-family: "Inter", Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 5px;
    text-align: left;
}

@media (min-width: 767px) {
    .form__label {
        max-width: 390px;
    }
}

.form__input {
    background-color: #202020;
    color: #FFF;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-bottom: 1px solid #424242;
    padding: 0 0 10px;
}

.form__input:focus{
    outline: none;
    border-bottom: 1px solid #3456F3;
  }
  
  .form__input:invalid {
    color: #FF3055;
  }

@media (min-width: 767px) {
    .form__input {
        font-weight: 500;
    }
}

.form__span {
    margin: 6px 0 0;
    width: 100%;
    color: #EE3465;
    font-family: "Inter", Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    display: block;
    visibility: hidden;
}

.form__element {
    margin: 0;
    padding: 157px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 767px) {
    .form__element {
        padding-top: 69px;
    }
}

.form__button {
    width: 260px;
    height: 45px;
    border-radius: 3px;
    background: #4285F4;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
    transition: opacity 1s ease; 
    cursor: pointer;
}

.form__button:hover {
    opacity: 0.8;
}

@media (min-width: 767px) {
    .form__button {
        font-size: 14px;
    }
}

@media (min-width: 1279px) {
    .form__button {
        margin-top: 179px;
    }
}

.form__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0 0;
    padding: 0;
    gap: 6px;
}

@media (min-width: 767px) {
    .form__text{
        margin-bottom: 232px;
    }
}

@media (min-width: 1279px) {
    .form__text{
        margin-bottom: 70px;
    }
}

.form__subtitle {
    color: #8B8B8B;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
    margin: 0;
}

@media (min-width: 767px) {
    .form__subtitle {
        font-size: 14px;
    }
}

.form__link {
    color: #4285F4;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: opacity 1s ease; 
    cursor: pointer;
}

.form__link:hover {
    opacity: 0.7;
 }

@media (min-width: 767px) {
    .form__link {
        font-size: 14px;
    }
}